{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "next/babel",
        "@zeit/next-typescript/babel"
      ]
    }
  }
}
